.places__paragraph {
  font-weight: 400;
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
  margin-bottom: 26px;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}


@media screen and (max-width: 1024px) {
  .places__paragraph {
    font-size: calc(18px - ((1024px - 100vw) * (2 / 256)));
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph {
    font-size: 16px;
  }
}
