.page {
  background: rgba(42, 44, 47, 1);
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}