.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .lead {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 360px) {
  .lead {
    margin-bottom: 64px;
  }
}