.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: calc(984px - ((1280px - 100vw) * (56 / 256)));
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(928px - ((1024px - 100vw) * (160 / 256)));
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
