.cover__subtitle {
  font-weight: 400;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  max-width: 360px;

}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: calc(360px - ((768px - 100vw) * (72 / 448)));
    font-size: calc(18px - ((768px - 100vw) * (4 / 448)));
  }
}

@media screen and (max-width: 597px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.09;
    max-width: 288px;
  }
}


