.header__logo {
  max-width: 176px;
  object-fit: contain;
  align-self: flex-start;
  
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: calc(720px - ((768px - 100vw) * (34 / 448)));
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
  }
}