.header {
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: calc(1184px - ((1280px - 100vw) * (256 / 256)));
  }
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(928px - ((1024px - 100vw) * (208 / 256)));
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(720px - ((768px - 100vw) * (432 / 448)));
    min-height: calc(52px - ((768px - 100vw) * (10 / 448)));

  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    min-height: 42px;
  }
}