.cover {
  margin: 0 auto 77px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
}

.cover:hover .cover__background {
  opacity: 0.3;
}

@media screen and (max-width: 1280px) {
    .cover {
      max-width: calc(1184px - ((1280px - 100vw) * ( 160 / 256)));
      min-height: calc(740px - ((1280px - 100vw) * (100 / 256)));
    }
  }

@media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
      min-height: 61vw;
      margin-bottom: calc(77px - ((1024px - 100vw) * (-11 / 448)));
    }
  }

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: calc(88px - ((768px - 100vw) * (28 / 448)));
      }
    }
@media screen and (max-width: 320px) {
      .cover {
        margin-bottom: 60px;
      }
    }