.cover__title {
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: calc(560px - ((768px - 100vw) * (272 / 448)));
    font-size: calc(72px - ((768px - 100vw) * (40 / 448)));
    margin-bottom: calc(32px - ((768px - 100vw) * (16 / 448)));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}

